.dish-item-container {
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.veg-dish {
  border: 1px solid #00923f;
  align-self: flex-start;
}

.veg-round {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #00923f;
  margin: 5px;
}

.non-veg-dish {
  border: 1px solid #92282a;
  align-self: flex-start;
}

.non-veg-round {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin: 5px;
  background-color: #92282a;
}

.dish-details-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}

.dish-name {
  font-weight: 600;
  font-family: 'Roboto';
  font-size: 1.5rem;
  margin-top: 0;
}

.dish-currency-price {
  color: #525252;
  font-weight: 600;
  font-size: 16px;
}

.dish-description {
  color: #bfc3c7;
  margin: 1rem 0;
}

.controller-container {
  background-color: #00923f;
  border-radius: 25px;
  width: 150px;
  height: 40px;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-size: 1.5rem;
}

.quantity {
  margin: 0 10px;
  color: #fff;
  font-size: 18px;
}

.not-availability-text {
  font-weight: 500;
  color: #ff0000;
}

.addon-availability-text {
  font-weight: 500;
  font-size: 1rem;
  margin: 5px 0;
  color: #734ff4;
}

.dish-calories {
  font-weight: 500;
  font-size: 18px;
  align-self: center;
  max-width: 250px;
  flex: 1;
  color: orange;
}

.dish-image {
  max-width: 150px;
  max-height: 150px;
  border-radius: 12px;
  flex: 1;
}

@media screen and (max-width: 768px) {
  .veg-round,
  .non-veg-round {
    width: 12px;
    height: 12px;
  }

  .dish-name {
    font-size: 1rem;
  }

  .dish-description {
    font-size: 0.8rem;
  }

  .dish-image {
    width: 100px;
    height: 100px;
  }

  .controller-container {
    width: 100px;
  }
}
